node_modules/
.env
build/
dist/
cache/


package-lock.json
yarn.lock
.DS_Store
.vscode/
.idea/
frontend/.env
frontend/.DS_Store
frontend/node_modules/
frontend/.idea/
frontend/.vscode/
frontend/package-lock.json


